/* 
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Slab', serif;
*/

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #b5ffe9; 
}

/* TYPOGRAPHY */

h1 {
    font-family: 'Grenze Gotisch', cursive;
}

/* STRUCTURE */

.hero {
    background-color: #444545;
    color: #b5ffe9;
    padding: 30px 30px;
    text-align: center;
    font-size: 30px;
}