/* 
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Slab', serif;
*/

/* VARIABLES */

* {
    --onyx: #444545;
    --aero-blue: #B5FFE9;
    --opal: #C5E0D8;
    --silver: #C9C9C9;
    --silver-pink: #CEABB1;
    --copper-red: #C17767;
    font-family: 'Roboto Slab', cursive;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: var(--aero-blue);
}

/* TYPOGRAPHY */

h1 {
    font-family: 'Grenze Gotisch', cursive;
}

/* STRUCTURE */

main {
    padding: 20px;
}

section h2 {
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 40px;
    margin: 0;
    color: var(--onyx);
}

.hero {
    background-color: var(--onyx);
    color: var(--aero-blue);
    padding: 30px 30px;
    text-align: center;
    font-size: 30px;
}

.random-button-wrap {
    text-align: center;
    padding-top: 20px;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-info div {
    margin: 15px 40px;
    flex: 1;
}

.game-info div h2, .game-info div h3 {
    margin: 0;
}

/* BUTTONS */

.random-button {
    text-align: center;
    background-color: var(--copper-red);
    color: black;
    border: none;
    width: 75%;
    padding: 20px;
    font-size: 24px;
    border-radius: 45px;
}

.random-button:hover {
    cursor: pointer;
}

#result {
    text-align: center;
    max-height: 0;
    overflow: hidden;
    font-size: 24px;
    width: 70%;
    margin: 0 auto;
    color: var(--aero-blue);
    border-radius: 6px;
}

.expanded {
    transition: max-height 1s ease-in;
    background-color: var(--onyx);
    padding: 20px;
}