/* 
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Slab', serif;
*/

/** 
===== COLOURS =====
    Onyx: #444545
    Aero Blue: #B5FFE9
    Opal: #C5E0D8
    Silver: #C9C9C9
    Silver Pink: #CEABB1
**/

/* VARIABLES */

* {
    --onyx: #444545;
    --aero-blue: #B5FFE9;
    font-family: 'Roboto Slab', cursive;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #b5ffe9;
}

/* TYPOGRAPHY */

h1 {
    font-family: 'Grenze Gotisch', cursive;
}

/* STRUCTURE */

main {
    padding: 20px;
}

section h2 {
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 40px;
    margin: 0;
    color: var(--onyx);
}

.hero {
    background-color: var(--onyx);
    color: var(--aero-blue);
    padding: 30px 30px;
    text-align: center;
    font-size: 30px;
}

.random-button-wrap {
    text-align: center;
    padding-top: 20px;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-info div {
    padding: 15px;
}

.game-info div h2, .game-info div h3 {
    margin: 0;
}

/* BUTTONS */

.random-button {
    text-align: center;
    background-color: #c17767;
    color: black;
    border: none;
    width: 75%;
    padding: 20px;
    font-size: 24px;
    border-radius: 45px;
}

.random-button:hover {
    cursor: pointer;
}

#result {
    text-align: center;
    max-height: 0;
    overflow: hidden;
    font-size: 24px;
    width: 70%;
    margin: 0 auto;
    color: var(--aero-blue);
    border-radius: 6px;
}

.expanded {
    transition: max-height 1s ease-in;
    background-color: var(--onyx);
    padding: 20px;
}